<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">HOME</a>
        <a href="{{ url_for('about') }}" class="{% if request.endpoint == 'about' %}active{% endif %}">ABOUT</a>
    </nav>

    <div class="about-box">
        <div class="about-container">
            <div class="profile">
                <img src="{{ url_for('static', filename='photo_2024-12-07_15-38-32.jpg') }}" alt="Profile" class="profile-pic">
                <div class="name">Aly</div>
            </div>
            <div class="bio">
                <h2>About This App</h2>
                <p>
                    Hi I'm Aly and This is a minimal and modern To-Do List app built with Python, Flask and SQLite.  
                    You can add, edit, delete, upload, and download tasks in CSV format.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
